# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore data files
data/content.json
data/vader_processed_content.json
data/roberta_processed_content.json
data/duplicate_content.json
data/.env

# Ignore macOS .DS_Store files
.DS_Store